.review-form__content {
    padding-left: 98px;
    height: 100%;
}

.review-form h2 {
    padding-top: 43px;
}



.container--form-review {
    width: 768px;
    height: 427px;
    border-radius: 3px;
    background-color: #f5f5f5;
    margin-left: 19px;
    margin-bottom: 50px;
}

.review-form label {
    display: block;
    font-family: GothamPro;
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    text-align: left;
    color: #221f1f;
    margin-bottom: 7px;
}

.review-form__block {
    display: inline-block;
    padding-top: 18px;
}

.review-form__block--vk {
    margin-left: 24px;
}

.review-form__block--text {
    display: block;
    padding-top: 18px;
}

.review-form__block--radio label {
    display: inline-block;
}

.review-form__block--radio {
    display: flex;
    justify-content: space-between
}

.review-form__buttons {
    margin-top: 12px;
}

.review-form__personal {
    width: 269px;
    height: 45px;
    padding: 0 11px;
    opacity: 0.5;
    font-family: GothamPro;
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 3.86;
    letter-spacing: normal;
    text-align: left;
    color: rgba(34, 31, 31, 0.5);
    border: none;
}

.review-form__personal:focus {
    opacity: 1;
    color: initial;
}

#text {
    font-family: GothamPro;
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    text-align: left;
    color: #221f1f;
    width: 571px;
    height: 90px;
    border: none;
    border-radius: 3px;
    padding: 5px 10px;
}

#text:focus {
    border: solid 1px #ec1e79;
}

.review-form__radio-buttons {
    margin-top: 2px;
}

.radio-label {
    cursor: pointer;
    position: relative;
    margin-right: 11px;
    margin-left: 28px;
    font-family: GothamPro;
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    color: #221f1f;
}

input[type=radio] {
    display: none;
}

.radio-label::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid #c9c9c9;
    border-radius: 50%;
    position: absolute;
    top: -2px;
    left: -26px;
}

input[type=radio]:checked + .radio-label:before {
    background: url('../img/ellipse.png') no-repeat center;
    border: 1px solid #ec1e79;
}

input[type=radio]:checked + .radio-label {
    color: #ec1e79;
}

button[type=submit] {
    width: 139px;
    height: 45px;
    border-radius: 3px;
    background-color: #27273e;
    font-family: GothamPro;
    font-size: 12px;
    font-weight: bold;
    font-style: normal;
    letter-spacing: 2.4px;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    border: none;
    margin-top: 16px;
    margin-right: 99px;
}

button[type=submit]:hover {
    background-color: #ec1e79;
    cursor: pointer;
    transition: 0.3s;
}

.review-form textarea {
    resize: none;
}

