* {
    box-sizing: border-box;
}

*:focus {
    outline: none;
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    -webkit-font-smoothing: antialiased;
}


.wrapper {
    min-width: 1200px;
    width: 100%;
    min-height: 100%;
    overflow: hidden;
}

.wrapper::after {
    display: block;
    content: '';
    height: 77px;
  }

ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

h1,h2,h3,h4,h5,p,span,li {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.container {
    width: 1200px;
    margin: 0px auto;
    display: flex;
}

h2 {
    font-family: GothamPro;
    font-weight: bold;
    font-size: 49px;
    color: #221f1f;
}


input:focus {
    border: solid 1px #ec1e79;
}

/* Основной контент справа от сайдбара */
.content {
      width: 73.4%;
}