@font-face {
    font-family: GothamPro;
    src: url("../fonts/GothamPro-Bold.woff2") format("woff2");
    src: url("../fonts/GothamPro-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: OpenSans;
    src: url("../fonts/OpenSans-Bold.woff2") format("woff2");
    src: url("../fonts/OpenSans-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: GothamPro;
    src: url("../fonts/GothamPro.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: Roboto;
    src: url("../fonts/Roboto-Light_1.woff2") format("woff2");
    src: url("../fonts/Roboto-Light.woff") format("woff");
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: Roboto;
    src: url("../fonts/Roboto-Bold_1.woff2") format("woff2"); 
    src: url("../fonts/Roboto-Bold.woff") format("woff"); 
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: GothamPro;
    src: url("../fonts/GothamPro-Light.woff2") format("woff2");
    src: url("../fonts/GothamPro-Light.woff") format("woff");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: GothamPro;
    src: url("../fonts/GothamPro-LightItalic.woff2") format("woff2");
    src: url("../fonts/GothamPro-LightItalic.woff") format("woff");
    font-weight: 300;
    font-style: italic;
}